@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@model Property.DTOs.Actions.AdminDashboard_action
@{
	Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="page-header">
	<div class="row">
		<div class="col-sm-12 mt-5">
			@if (SignInManager.IsSignedIn(User) && @User.Identity.Name?.Length > 0)
			{
				<h3 class="page-title mt-3">Hello @User.Identity.Name !</h3>
			}
			else
			{
				<h3 class="page-title mt-3">Hello !</h3>
			}
			
			<ul class="breadcrumb">
				<li class="breadcrumb-item active">Dashboard</li>
			</ul>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-xl-4 col-sm-6 col-12">
		<div class="card board1 fill">
			<div class="card-body">
				<div class="dash-widget-header">
					<div>
						<h3 class="card_widget_header">@Model.Users.Count</h3>
						<h6 class="text-muted">Users</h6>
					</div>
					<div class="ml-auto mt-md-3 mt-lg-0">
						<span class="opacity-7 text-muted">
							<i class="fas fa-users" style="height: 24px; width: 24px; font-size: 24px;"></i>
						</span>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-xl-4 col-sm-6 col-12">
		<div class="card board1 fill">
			<div class="card-body">
				<div class="dash-widget-header">
					<div>
						<h3 class="card_widget_header">@Model.Agents.Count</h3>
						<h6 class="text-muted">Agents</h6>
					</div>
					<div class="ml-auto mt-md-3 mt-lg-0">
						<span class="opacity-7 text-muted">
							<i class="fas fa-users" style="height: 24px; width: 24px; font-size: 24px;"></i>
						</span>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-xl-4 col-sm-6 col-12">
		<div class="card board1 fill">
			<div class="card-body">
				<div class="dash-widget-header">
					<div>
						<h3 class="card_widget_header">@Model.Reservations.Count</h3>
						<h6 class="text-muted">Reservations</h6>
					</div>
					<div class="ml-auto mt-md-3 mt-lg-0">
						<span class="opacity-7 text-muted">
							<i class="fas fa-calendar" style="height: 24px; width: 24px; font-size: 24px;"></i>
						</span>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-xl-3 col-sm-6 col-12">
		<div class="card board1 fill">
			<div class="card-body">
				<div class="dash-widget-header">
					<div>
						<h3 class="card_widget_header">@Model.Products.Count</h3>
						<h6 class="text-muted">Properties</h6>
					</div>
					<div class="ml-auto mt-md-3 mt-lg-0">
						<span class="opacity-7 text-muted">
							<i class="fas fa-home" style="height: 24px; width: 24px; font-size: 24px;"></i>
						</span>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-xl-3 col-sm-6 col-12">
		<div class="card board1 fill">
			<div class="card-body">
				<div class="dash-widget-header">
					<div>
						<h3 class="card_widget_header">@Model.Products.Where(x => x.Rent != null && x.Rent.RentRealEstatePerDay != null).Count()</h3>
						<h6 class="text-muted">Properties for Rent</h6>
						<h7 class="text-muted">per night</h7>
					</div>
					<div class="ml-auto mt-md-3 mt-lg-0">
						<span class="opacity-7 text-muted">
							<i class="fas fa-home" style="height: 24px; width: 24px; font-size: 24px;"></i>
						</span>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-xl-3 col-sm-6 col-12">
		<div class="card board1 fill">
			<div class="card-body">
				<div class="dash-widget-header">
					<div>
						<h3 class="card_widget_header">@Model.Products.Where(x => x.Rent != null && x.Rent.RentRealEstatePerMounth != null).Count()</h3>
						<h6 class="text-muted">Properties for Rent</h6>
						<h7 class="text-muted">per month</h7>
					</div>
					<div class="ml-auto mt-md-3 mt-lg-0">
						<span class="opacity-7 text-muted">
							<i class="fas fa-home" style="height: 24px; width: 24px; font-size: 24px;"></i>
						</span>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-xl-3 col-sm-6 col-12">
		<div class="card board1 fill">
			<div class="card-body">
				<div class="dash-widget-header">
					<div>
						<h3 class="card_widget_header">@Model.Products.Where(x => x.Sell != null).Count()</h3>
						<h6 class="text-muted">Properties for Sale</h6>
					</div>
					<div class="ml-auto mt-md-3 mt-lg-0">
						<span class="opacity-7 text-muted">
							<i class="fas fa-home" style="height: 24px; width: 24px; font-size: 24px;"></i>
						</span>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-md-12 col-lg-6">
		<div class="card card-chart">
			<div class="card-header">
				<h4 class="card-title">VISITORS</h4>
			</div>
			<div class="card-body">
				<div id="line-chart"></div>
			</div>
		</div>
	</div>
	<div class="col-md-12 col-lg-6">
		<div class="card card-chart">
			<div class="card-header">
				<h4 class="card-title">ROOMS BOOKED</h4>
			</div>
			<div class="card-body">
				<div id="donut-chart"></div>
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-md-12 d-flex">
		<div class="card card-table flex-fill">
			<div class="card-header">
				<h4 class="card-title float-left mt-2">Booking</h4>
				<button type="button" class="btn btn-primary float-right veiwbutton">Veiw All</button>
			</div>
			<div class="card-body">
				<div class="table-responsive">
					<table class="table table-hover table-center">
						<thead>
							<tr>
								<th>Booking ID</th>
								<th>Name</th>
								<th>Email ID</th>
								<th>Aadhar Number</th>
								<th class="text-center">Room Type</th>
								<th class="text-right">Number</th>
								<th class="text-center">Status</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td class="text-nowrap">
									<div>BKG-0001</div>
								</td>
								<td class="text-nowrap">Tommy Bernal</td>
								<td><a href="/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="3743585a5a4e55524559565b77524f565a475b521954585a">[email&#160;protected]</a></td>
								<td>12414786454545</td>
								<td class="text-center">Double</td>
								<td class="text-right">
									<div>631-254-6480</div>
								</td>
								<td class="text-center"> <span class="badge badge-pill bg-success inv-badge">INACTIVE</span> </td>
							</tr>
							<tr>
								<td class="text-nowrap">
									<div>BKG-0002</div>
								</td>
								<td class="text-nowrap">Ellen Thill</td>
								<td><a href="/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="89fbe0eae1e8fbedebfbe6ebfafdc9ecf1e8e4f9e5eca7eae6e4">[email&#160;protected]</a></td>
								<td>5456223232322</td>
								<td class="text-center">Double</td>
								<td class="text-right">
									<div>830-468-1042</div>
								</td>
								<td class="text-center"> <span class="badge badge-pill bg-success inv-badge">INACTIVE</span> </td>
							</tr>
							<tr>
								<td class="text-nowrap">
									<div>BKG-0003</div>
								</td>
								<td class="text-nowrap">Corina Kelsey</td>
								<td><a href="/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="76131a1a1318021e1f1a1a36130e171b061a135815191b">[email&#160;protected]</a></td>
								<td>454543232625</td>
								<td class="text-center">Single</td>
								<td class="text-right">
									<div>508-335-5531</div>
								</td>
								<td class="text-center"> <span class="badge badge-pill bg-success inv-badge">INACTIVE</span> </td>
							</tr>
							<tr>
								<td class="text-nowrap">
									<div>BKG-0004</div>
								</td>
								<td class="text-nowrap">Carolyn Lane</td>
								<td><a href="/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="50333f22393e313b353c23352910373d31393c7e333f3d">[email&#160;protected]</a></td>
								<td>2368989562621</td>
								<td class="text-center">Double</td>
								<td class="text-right">
									<div>262-260-1170</div>
								</td>
								<td class="text-center"> <span class="badge badge-pill bg-success inv-badge">INACTIVE</span> </td>
							</tr>
							<tr>
								<td class="text-nowrap">
									<div>BKG-0005</div>
								</td>
								<td class="text-nowrap">Denise</td>
								<td><a href="/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="1c7f7d6e73706572707d72795c7b717d7570327f7371">[email&#160;protected]</a></td>
								<td>3245455582287</td>
								<td class="text-center">Single</td>
								<td class="text-right">
									<div>570-458-0070</div>
								</td>
								<td class="text-center"> <span class="badge badge-pill bg-success inv-badge">INACTIVE</span> </td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>