@model Property.DTOs.Actions.AgentDashboard_action
@{
	Layout = "~/Views/Shared/_AgentLayout.cshtml";
}



@* <div class="row">
	<div class="col-lg-12">
		<div class="profile card card-body px-3 pt-3 pb-0">
			<div class="profile-head">
				<div class="photo-content">
					<div class="cover-photo rounded"></div>
				</div>
				<div class="profile-info">
					<div class="profile-photo">
						<img src="~/images/person_1-min.jpg" class="img-fluid rounded-circle" alt="">
					</div>
					<div class="profile-details">
						<div class="profile-name px-3 pt-2">
							<h4 class="text-primary mb-0">@Model.Agent.Name</h4>
							<p>@Model.Agent.Profession</p>
						</div>
						<div class="profile-email px-2 pt-2">
							<h4 class="text-muted mb-0">@Model.Agent.ApplicationUser.Email</h4>
							<p>Email</p>
						</div>
						<div class="dropdown ms-auto">
							<a href="#" class="btn btn-primary light sharp" data-bs-toggle="dropdown" aria-expanded="true"><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="18px" height="18px" viewbox="0 0 24 24" version="1.1"><g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"><rect x="0" y="0" width="24" height="24"></rect><circle fill="#000000" cx="5" cy="12" r="2"></circle><circle fill="#000000" cx="12" cy="12" r="2"></circle><circle fill="#000000" cx="19" cy="12" r="2"></circle></g></svg></a>
							<ul class="dropdown-menu dropdown-menu-end">
								<li class="dropdown-item"><i class="fa fa-user-circle text-primary me-2"></i> View profile</li>
								
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="mb-4" style="text-align: right;">
	<a asp-controller="ProductRealEstate" asp-action="Choice" class="btn btn-primary btn-rounded fs-18">+ New Property</a>
</div>

<div class="custom-tab-1">
	<ul class="nav nav-tabs">
		<li class="nav-item">
			<a class="nav-link active" data-bs-toggle="tab" href="#dayrent"><i class="la la-home me-2"></i> Short term Rental</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" data-bs-toggle="tab" href="#monthrent"><i class="la la-home me-2"></i> Long term Rental</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" data-bs-toggle="tab" href="#sell"><i class="la la-home me-2"></i> Sell</a>
		</li>
	</ul>
	<div class="tab-content">
		<div class="tab-pane fade show active" id="dayrent" role="tabpanel">
			<div class="pt-4">
				@{
					foreach (var product in Model.Products.Where(x => x.Rent != null && x.Rent.RentRealEstatePerDay != null))
					{
						<div class="card">
							<div class="card-body">
								<div class="row align-items-center">

									<div class="col-xl-3 col-lg-3 col-sm-6 col-6">
										<div class="gallery">
											@if (product.ProductImages.Count > 0)
											{
												var image = product.ProductImages[0];
												<div class="gallery-item">
													<img src="data:@image.ContentType;base64,@System.Convert.ToBase64String(image.ImageData)" class="img-fluid" alt="Product Image">
												</div>
											}
										</div>
									</div>

									<div class="col-xl-3  col-lg-3 col-sm-6 col-6 align-items-center customers">
										<div class="media-body">
											<span class="text-primary d-block fs-18 font-w500 mb-1">#P-000441425</span>
											<h3 class="fs-18 text-black font-w600">@product.Name</h3>
											<span class="d-block mb-lg-0 mb-0 fs-16"><i class="fas fa-calendar me-3"></i>Created on @product.PublicationDate.ToShortDateString()</span>
										</div>
									</div>
									<div class="col-xl-3  col-lg-6 col-sm-6 mb-sm-4 mt-3">
										<div class="mb-3 font-w400">
											<span class="py-2 px-2" style="border: 1px solid; border-radius: 40%; color: cadetblue; font-weight: 50%;">@product.Reservations.Count</span> Reservation(s)
										</div>
										<div class="d-flex project-image">
											<svg class="me-3" width="55" height="55" viewbox="0 0 55 55" fill="none" xmlns="http://www.w3.org/2000/svg">
												<circle cx="27.5" cy="27.5" r="27.5" fill="#886CC0"></circle>
												<g clip-path="url(#clip0)">
													<path d="M37.2961 23.6858C37.1797 23.4406 36.9325 23.2843 36.661 23.2843H29.6088L33.8773 16.0608C34.0057 15.8435 34.0077 15.5738 33.8826 15.3546C33.7574 15.1354 33.5244 14.9999 33.2719 15L27.2468 15.0007C26.9968 15.0008 26.7656 15.1335 26.6396 15.3495L18.7318 28.905C18.6049 29.1224 18.604 29.3911 18.7294 29.6094C18.8548 29.8277 19.0873 29.9624 19.3391 29.9624H26.3464L24.3054 38.1263C24.2255 38.4457 24.3781 38.7779 24.6725 38.9255C24.7729 38.9757 24.8806 39 24.9872 39C25.1933 39 25.3952 38.9094 25.5324 38.7413L37.2058 24.4319C37.3774 24.2215 37.4126 23.931 37.2961 23.6858Z" fill="white"></path>
												</g>
												<defs>
													<clippath>
														<rect width="24" height="24" fill="white" transform="translate(16 15)"></rect>
													</clippath>
												</defs>
											</svg>
											<div>
												<small class="d-block fs-16 font-w400">Deadline</small>
												<span class="fs-18 font-w500">Tuesday,  Sep 29th 2020</span>
											</div>
										</div>
									</div>
									<div class="col-xl-2  col-lg-12 col-sm-12 text-end">
										<div class="d-flex justify-content-end project-btn" style="text-align: right;">
											<a href="javascript:void(0);" class=" btn bgl-success fs-18 font-w600 text-nowrap text-success">Active</a>
											<div class="dropdown ms-4  mt-auto mb-auto">
												<div class="btn-link" data-bs-toggle="dropdown">
													<svg width="24" height="24" viewbox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
														<path d="M11 12C11 12.5523 11.4477 13 12 13C12.5523 13 13 12.5523 13 12C13 11.4477 12.5523 11 12 11C11.4477 11 11 11.4477 11 12Z" stroke="#737B8B" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
														<path d="M18 12C18 12.5523 18.4477 13 19 13C19.5523 13 20 12.5523 20 12C20 11.4477 19.5523 11 19 11C18.4477 11 18 11.4477 18 12Z" stroke="#737B8B" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
														<path d="M4 12C4 12.5523 4.44772 13 5 13C5.55228 13 6 12.5523 6 12C6 11.4477 5.55228 11 5 11C4.44772 11 4 11.4477 4 12Z" stroke="#737B8B" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
													</svg>
												</div>
												<div class="dropdown-menu dropdown-menu-right">
													<a class="dropdown-item" asp-controller="Agent" asp-action="GetAgentProductRentByDay" asp-route-id="@product.Id">View</a>
													<a class="dropdown-item" asp-controller="ProductRealEstate" asp-action="UpdateProduct" asp-route-id="@product.Id">Edit</a>
													<a class="dropdown-item" href="javascript:void(0);">Delete</a>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					}
				}
			</div>
		</div>
		<div class="tab-pane fade" id="monthrent">
			<div class="pt-4">
				@{
					foreach (var product in Model.Products.Where(x => x.Rent != null && x.Rent.RentRealEstatePerMounth != null))
					{
						<div class="card">
							<div class="card-body">
								<div class="row align-items-center">

									<div class="col-xl-3 col-lg-3 col-sm-6 col-6">
										<div class="gallery">
											@if (product.ProductImages.Count > 0)
											{
												var image = product.ProductImages[0];
												<div class="gallery-item">
													<img src="data:@image.ContentType;base64,@System.Convert.ToBase64String(image.ImageData)" class="img-fluid" alt="Product Image">
												</div>
											}
										</div>
									</div>

									<div class="col-xl-3  col-lg-3 col-sm-6 col-6 align-items-center customers">
										<div class="media-body">
											<span class="text-primary d-block fs-18 font-w500 mb-1">#P-000441425</span>
											<h3 class="fs-18 text-black font-w600">@product.Name</h3>
											<span class="d-block mb-lg-0 mb-0 fs-16"><i class="fas fa-calendar me-3"></i>Created on @product.PublicationDate.ToShortDateString()</span>
										</div>
									</div>
									<div class="col-xl-3  col-lg-6 col-sm-6 mb-sm-4 mt-3">
										<div class="d-flex project-image">
											<svg class="me-3" width="55" height="55" viewbox="0 0 55 55" fill="none" xmlns="http://www.w3.org/2000/svg">
												<circle cx="27.5" cy="27.5" r="27.5" fill="#886CC0"></circle>
												<g clip-path="url(#clip0)">
													<path d="M37.2961 23.6858C37.1797 23.4406 36.9325 23.2843 36.661 23.2843H29.6088L33.8773 16.0608C34.0057 15.8435 34.0077 15.5738 33.8826 15.3546C33.7574 15.1354 33.5244 14.9999 33.2719 15L27.2468 15.0007C26.9968 15.0008 26.7656 15.1335 26.6396 15.3495L18.7318 28.905C18.6049 29.1224 18.604 29.3911 18.7294 29.6094C18.8548 29.8277 19.0873 29.9624 19.3391 29.9624H26.3464L24.3054 38.1263C24.2255 38.4457 24.3781 38.7779 24.6725 38.9255C24.7729 38.9757 24.8806 39 24.9872 39C25.1933 39 25.3952 38.9094 25.5324 38.7413L37.2058 24.4319C37.3774 24.2215 37.4126 23.931 37.2961 23.6858Z" fill="white"></path>
												</g>
												<defs>
													<clippath>
														<rect width="24" height="24" fill="white" transform="translate(16 15)"></rect>
													</clippath>
												</defs>
											</svg>
											<div>
												<small class="d-block fs-16 font-w400">Deadline</small>
												<span class="fs-18 font-w500">Tuesday,  Sep 29th 2020</span>
											</div>
										</div>
									</div>
									<div class="col-xl-2  col-lg-12 col-sm-12 text-end">
										<div class="d-flex justify-content-end project-btn" style="text-align: right;">
											<a href="javascript:void(0);" class=" btn bgl-success fs-18 font-w600 text-nowrap text-success">Active</a>
											<div class="dropdown ms-4  mt-auto mb-auto">
												<div class="btn-link" data-bs-toggle="dropdown">
													<svg width="24" height="24" viewbox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
														<path d="M11 12C11 12.5523 11.4477 13 12 13C12.5523 13 13 12.5523 13 12C13 11.4477 12.5523 11 12 11C11.4477 11 11 11.4477 11 12Z" stroke="#737B8B" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
														<path d="M18 12C18 12.5523 18.4477 13 19 13C19.5523 13 20 12.5523 20 12C20 11.4477 19.5523 11 19 11C18.4477 11 18 11.4477 18 12Z" stroke="#737B8B" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
														<path d="M4 12C4 12.5523 4.44772 13 5 13C5.55228 13 6 12.5523 6 12C6 11.4477 5.55228 11 5 11C4.44772 11 4 11.4477 4 12Z" stroke="#737B8B" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
													</svg>
												</div>
												<div class="dropdown-menu dropdown-menu-right">
													<a class="dropdown-item" asp-controller="ProductRealEstate" asp-action="UpdateProduct" asp-route-id="@product.Id">Edit</a>
													<a class="dropdown-item" href="javascript:void(0);">Delete</a>  
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					}
				}
			</div>
		</div>
		<div class="tab-pane fade" id="sell">
			<div class="pt-4">
				@{
					foreach (var product in Model.Products.Where(x => x.Sell != null))
					{
						<div class="card">
							<div class="card-body">
								<div class="row align-items-center">

									<div class="col-xl-3 col-lg-3 col-sm-6 col-6">
										<div class="gallery">
											@if (product.ProductImages.Count > 0)
											{
												var image = product.ProductImages[0];
												<div class="gallery-item">
													<img src="data:@image.ContentType;base64,@System.Convert.ToBase64String(image.ImageData)" class="img-fluid" alt="Product Image">
												</div>
											}
										</div>
									</div>

									<div class="col-xl-3  col-lg-3 col-sm-6 col-6 align-items-center customers">
										<div class="media-body">
											<span class="text-primary d-block fs-18 font-w500 mb-1">#P-000441425</span>
											<h3 class="fs-18 text-black font-w600">@product.Name</h3>
											<span class="d-block mb-lg-0 mb-0 fs-16"><i class="fas fa-calendar me-3"></i>Created on @product.PublicationDate.ToShortDateString()</span>
										</div>
									</div>
									<div class="col-xl-3  col-lg-6 col-sm-6 mb-sm-4 mt-3">
										<div class="d-flex project-image">
											<svg class="me-3" width="55" height="55" viewbox="0 0 55 55" fill="none" xmlns="http://www.w3.org/2000/svg">
												<circle cx="27.5" cy="27.5" r="27.5" fill="#886CC0"></circle>
												<g clip-path="url(#clip0)">
													<path d="M37.2961 23.6858C37.1797 23.4406 36.9325 23.2843 36.661 23.2843H29.6088L33.8773 16.0608C34.0057 15.8435 34.0077 15.5738 33.8826 15.3546C33.7574 15.1354 33.5244 14.9999 33.2719 15L27.2468 15.0007C26.9968 15.0008 26.7656 15.1335 26.6396 15.3495L18.7318 28.905C18.6049 29.1224 18.604 29.3911 18.7294 29.6094C18.8548 29.8277 19.0873 29.9624 19.3391 29.9624H26.3464L24.3054 38.1263C24.2255 38.4457 24.3781 38.7779 24.6725 38.9255C24.7729 38.9757 24.8806 39 24.9872 39C25.1933 39 25.3952 38.9094 25.5324 38.7413L37.2058 24.4319C37.3774 24.2215 37.4126 23.931 37.2961 23.6858Z" fill="white"></path>
												</g>
												<defs>
													<clippath>
														<rect width="24" height="24" fill="white" transform="translate(16 15)"></rect>
													</clippath>
												</defs>
											</svg>
											<div>
												<small class="d-block fs-16 font-w400">Deadline</small>
												<span class="fs-18 font-w500">Tuesday,  Sep 29th 2020</span>
											</div>
										</div>
									</div>
									<div class="col-xl-2  col-lg-12 col-sm-12 text-end">
										<div class="d-flex justify-content-end project-btn" style="text-align: right;">
											<a href="javascript:void(0);" class=" btn bgl-success fs-18 font-w600 text-nowrap text-success">Active</a>
											<div class="dropdown ms-4  mt-auto mb-auto">
												<div class="btn-link" data-bs-toggle="dropdown">
													<svg width="24" height="24" viewbox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
														<path d="M11 12C11 12.5523 11.4477 13 12 13C12.5523 13 13 12.5523 13 12C13 11.4477 12.5523 11 12 11C11.4477 11 11 11.4477 11 12Z" stroke="#737B8B" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
														<path d="M18 12C18 12.5523 18.4477 13 19 13C19.5523 13 20 12.5523 20 12C20 11.4477 19.5523 11 19 11C18.4477 11 18 11.4477 18 12Z" stroke="#737B8B" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
														<path d="M4 12C4 12.5523 4.44772 13 5 13C5.55228 13 6 12.5523 6 12C6 11.4477 5.55228 11 5 11C4.44772 11 4 11.4477 4 12Z" stroke="#737B8B" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
													</svg>
												</div>
												<div class="dropdown-menu dropdown-menu-right">
													<a class="dropdown-item" asp-controller="ProductRealEstate" asp-action="UpdateProduct" asp-route-id="@product.Id">Edit</a>
													<a class="dropdown-item" href="javascript:void(0);">Delete</a>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					}
				}
			</div>
		</div>
	</div>
</div> *@



<div class="page-header">
	<div class="row">
		<div class="col-sm-12 mt-5">
			<h3 class="page-title mt-3">Good Morning @Model.Agent.Name !</h3>
			<ul class="breadcrumb">
				<li class="breadcrumb-item active">Dashboard</li>
			</ul>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-xl-3 col-sm-6 col-12">
		<div class="card board1 fill">
			<div class="card-body">
				<div class="dash-widget-header">
					<div>
						<h3 class="card_widget_header">236</h3>
						<h6 class="text-muted">Total Booking</h6>
					</div>
					<div class="ml-auto mt-md-3 mt-lg-0">
						<span class="opacity-7 text-muted">
							<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewbox="0 0 24 24" fill="none" stroke="#009688" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-user-plus">
								<path d="M16 21v-2a4 4 0 0 0-4-4H5a4 4 0 0 0-4 4v2"></path>
								<circle cx="8.5" cy="7" r="4"></circle>
								<line x1="20" y1="8" x2="20" y2="14"></line>
								<line x1="23" y1="11" x2="17" y2="11"></line>
							</svg>
						</span>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-xl-3 col-sm-6 col-12">
		<div class="card board1 fill">
			<div class="card-body">
				<div class="dash-widget-header">
					<div>
						<h3 class="card_widget_header">180</h3>
						<h6 class="text-muted">Available Rooms</h6>
					</div>
					<div class="ml-auto mt-md-3 mt-lg-0">
						<span class="opacity-7 text-muted">
							<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewbox="0 0 24 24" fill="none" stroke="#009688" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-dollar-sign">
								<line x1="12" y1="1" x2="12" y2="23"></line>
								<path d="M17 5H9.5a3.5 3.5 0 0 0 0 7h5a3.5 3.5 0 0 1 0 7H6"></path>
							</svg>
						</span>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-xl-3 col-sm-6 col-12">
		<div class="card board1 fill">
			<div class="card-body">
				<div class="dash-widget-header">
					<div>
						<h3 class="card_widget_header">1538</h3>
						<h6 class="text-muted">Enquiry</h6>
					</div>
					<div class="ml-auto mt-md-3 mt-lg-0">
						<span class="opacity-7 text-muted">
							<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewbox="0 0 24 24" fill="none" stroke="#009688" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-file-plus">
								<path d="M14 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V8z">
								</path>
								<polyline points="14 2 14 8 20 8"></polyline>
								<line x1="12" y1="18" x2="12" y2="12"></line>
								<line x1="9" y1="15" x2="15" y2="15"></line>
							</svg>
						</span>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-xl-3 col-sm-6 col-12">
		<div class="card board1 fill">
			<div class="card-body">
				<div class="dash-widget-header">
					<div>
						<h3 class="card_widget_header">364</h3>
						<h6 class="text-muted">Collections</h6>
					</div>
					<div class="ml-auto mt-md-3 mt-lg-0">
						<span class="opacity-7 text-muted">
							<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewbox="0 0 24 24" fill="none" stroke="#009688" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-globe">
								<circle cx="12" cy="12" r="10"></circle>
								<line x1="2" y1="12" x2="22" y2="12"></line>
								<path d="M12 2a15.3 15.3 0 0 1 4 10 15.3 15.3 0 0 1-4 10 15.3 15.3 0 0 1-4-10 15.3 15.3 0 0 1 4-10z">
								</path>
							</svg>
						</span>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-md-12 col-lg-6">
		<div class="card card-chart">
			<div class="card-header">
				<h4 class="card-title">VISITORS</h4>
			</div>
			<div class="card-body">
				<div id="line-chart"></div>
			</div>
		</div>
	</div>
	<div class="col-md-12 col-lg-6">
		<div class="card card-chart">
			<div class="card-header">
				<h4 class="card-title">ROOMS BOOKED</h4>
			</div>
			<div class="card-body">
				<div id="donut-chart"></div>
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-md-12 d-flex">
		<div class="card card-table flex-fill">
			<div class="card-header">
				<h4 class="card-title float-left mt-2">Booking</h4>
				<button type="button" class="btn btn-primary float-right veiwbutton">Veiw All</button>
			</div>
			<div class="card-body">
				<div class="table-responsive">
					<table class="table table-hover table-center">
						<thead>
							<tr>
								<th>Booking ID</th>
								<th>Name</th>
								<th>Email ID</th>
								<th>Aadhar Number</th>
								<th class="text-center">Room Type</th>
								<th class="text-right">Number</th>
								<th class="text-center">Status</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td class="text-nowrap">
									<div>BKG-0001</div>
								</td>
								<td class="text-nowrap">Tommy Bernal</td>
								<td><a href="/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="3743585a5a4e55524559565b77524f565a475b521954585a">[email&#160;protected]</a></td>
								<td>12414786454545</td>
								<td class="text-center">Double</td>
								<td class="text-right">
									<div>631-254-6480</div>
								</td>
								<td class="text-center"> <span class="badge badge-pill bg-success inv-badge">INACTIVE</span> </td>
							</tr>
							<tr>
								<td class="text-nowrap">
									<div>BKG-0002</div>
								</td>
								<td class="text-nowrap">Ellen Thill</td>
								<td><a href="/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="89fbe0eae1e8fbedebfbe6ebfafdc9ecf1e8e4f9e5eca7eae6e4">[email&#160;protected]</a></td>
								<td>5456223232322</td>
								<td class="text-center">Double</td>
								<td class="text-right">
									<div>830-468-1042</div>
								</td>
								<td class="text-center"> <span class="badge badge-pill bg-success inv-badge">INACTIVE</span> </td>
							</tr>
							<tr>
								<td class="text-nowrap">
									<div>BKG-0003</div>
								</td>
								<td class="text-nowrap">Corina Kelsey</td>
								<td><a href="/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="76131a1a1318021e1f1a1a36130e171b061a135815191b">[email&#160;protected]</a></td>
								<td>454543232625</td>
								<td class="text-center">Single</td>
								<td class="text-right">
									<div>508-335-5531</div>
								</td>
								<td class="text-center"> <span class="badge badge-pill bg-success inv-badge">INACTIVE</span> </td>
							</tr>
							<tr>
								<td class="text-nowrap">
									<div>BKG-0004</div>
								</td>
								<td class="text-nowrap">Carolyn Lane</td>
								<td><a href="/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="50333f22393e313b353c23352910373d31393c7e333f3d">[email&#160;protected]</a></td>
								<td>2368989562621</td>
								<td class="text-center">Double</td>
								<td class="text-right">
									<div>262-260-1170</div>
								</td>
								<td class="text-center"> <span class="badge badge-pill bg-success inv-badge">INACTIVE</span> </td>
							</tr>
							<tr>
								<td class="text-nowrap">
									<div>BKG-0005</div>
								</td>
								<td class="text-nowrap">Denise</td>
								<td><a href="/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="1c7f7d6e73706572707d72795c7b717d7570327f7371">[email&#160;protected]</a></td>
								<td>3245455582287</td>
								<td class="text-center">Single</td>
								<td class="text-right">
									<div>570-458-0070</div>
								</td>
								<td class="text-center"> <span class="badge badge-pill bg-success inv-badge">INACTIVE</span> </td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>
			