@model Property.DTOs.Actions.AgentDashboard_action
@{
	Layout = "~/Views/Shared/_AgentLayout.cshtml";
}

<div class="mt-5">
    <ul class="nav nav-tabs nav-tabs-solid">
		<li class="nav-item"><a class="nav-link active" href="#forRent" data-toggle="tab">FOR RENT</a></li>
		<li class="nav-item"><a class="nav-link" href="#forSale" data-toggle="tab">FOR SALE</a></li>
	</ul>
</div>

<div class="tab-content mb-3">
	<div class="tab-pane show active" id="forRent">
		@{
			foreach (var product in Model.Products.Where(x => x.Rent != null))
			{
                <div class="card mb-3">
                    <div class="row g-0">
                        <div class="col-md-4">
                            @if (product.ProductImages.Count > 0)
                            {
                                var image = product.ProductImages[0];
                                <div class="gallery-item p-2">
                                    <img src="data:@image.ContentType;base64,@System.Convert.ToBase64String(image.ImageData)" class="img-fluid" alt="Product Image">
                                </div>
                            }
                            else
                            {
                                <img src="https://mdbcdn.b-cdn.net/wp-content/uploads/2020/06/vertical.webp"
                                     alt="Trendy Pants and Shoes"
                                     class="img-fluid rounded-start p-2"
                                     style="max-height: 200px;" />
                            }
                            
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                @if(product.Rent.RentRealEstatePerDay is not null)
                                {
                                    <h6 style="color: #007f66;">@product.Price$ / night</h6>
                                }
                                else if (product.Rent.RentRealEstatePerMounth is not null)
                                {
                                    <h6 style="color: #007f66;">@product.Price$ / month</h6>
                                }
                                <h5 class="card-title mb-3">@product.Name</h5>
                                <p class="card-text">
                                    <small class="text-muted">Published : @product.PublicationDate.ToLongDateString()</small>
                                </p>

                                @if (@product.Reservations is not null)
                                {
                                    @if (@product.Reservations.Count > 0)
                                    {
                                        <a class="btn btn-primary" asp-controller="Agent" asp-action="GetAgentProductRentByDay" asp-route-id="@product.Id">@product.Reservations.Count Booking(s)</a>
                                    }
                                    else
                                    {
                                        <a class="btn btn-primary" asp-controller="Agent" asp-action="GetAgentProductRentByDay" asp-route-id="@product.Id">See Details</a>
                                    }
                                }
                                else
                                {
                                    <a class="btn btn-primary" asp-controller="Agent" asp-action="GetAgentProductRentByDay" asp-route-id="@product.Id">See Details</a>
                                }
                                
                                
                            </div>
                        </div>
                    </div>
                </div>
                
			}
		}
	</div>
	<div class="tab-pane" id="forSale">
        @{
            foreach (var product in Model.Products.Where(x => x.Sell != null))
            {
                <div class="card mb-3">
                    <div class="row g-0">
                        <div class="col-md-4">
                            @if (product.ProductImages.Count > 0)
                            {
                                var image = product.ProductImages[0];
                                <div class="gallery-item p-2">
                                    <img src="data:@image.ContentType;base64,@System.Convert.ToBase64String(image.ImageData)" class="img-fluid" alt="Product Image">
                                </div>
                            }
                            else
                            {
                                <img src="https://mdbcdn.b-cdn.net/wp-content/uploads/2020/06/vertical.webp"
                                     alt="Trendy Pants and Shoes"
                                     class="img-fluid rounded-start p-2"
                                     style="max-height: 200px;" />
                            }

                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h6 style="color: #007f66;">@product.Price $</h6>
                                <h5 class="card-title mb-3">@product.Name</h5>
                                <p class="card-text">
                                    <small class="text-muted">Published : @product.PublicationDate.ToLongDateString()</small>
                                </p>
                                <a class="btn btn-primary" asp-controller="Agent" asp-action="GetAgentProductRentByDay" asp-route-id="@product.Id">See Details</a>
                            </div>
                        </div>
                    </div>
                </div>

            }
        }
	</div>
</div>
