@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@* <ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
{
    <li class="nav-item">
        <a  class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @User.Identity?.Name!</a>
    </li>
    <li class="nav-item">
        <form  class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
            <button  type="submit" class="nav-link btn btn-link text-dark">Logout</button>
        </form>
    </li>
}
else
{
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Register">Register</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Login">Login</a>
    </li>
}
</ul> *@

    @if (SignInManager.IsSignedIn(User) && @User.Identity.Name?.Length > 0)
    {
    <li class="has-children">
        <a asp-area="Identity" asp-page="/Account/Manage/Index"><span class="px-2 py-2" style=" background-color: slategrey; border:1px solid white; border-radius: 50%; margin: 0px; color: white; height: 20px; width: 20px;">@User.Identity.Name[0].ToString().ToUpper()</span></a>
        <ul class="dropdown">
            <li><a asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })"><span class="icon-sign-out me-2"></span> Log out</a></li>
        </ul>
    </li>
    }
    else
    {
        <li>
        <a asp-area="Identity" asp-page="/Account/Login"><span class="icon-user me-2 px-2 py-2" style=" background-color: slategrey; border:1px solid white; border-radius: 50%; font-size: 16px; margin: 0px; color: white; height: 20px; width: 20px;"></span></a>
        </li>
    }