@model List<Property.DTOs.Product.ProductRealEstate.GetProductRealEstateDTO>

@{
	Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="row page-titles">
	<ol class="breadcrumb">
		<li class="breadcrumb-item active"><a href="javascript:void(0)">Product</a></li>
		<li class="breadcrumb-item"><a href="javascript:void(0)">All</a></li>
	</ol>
</div>

<div class="row">
	<div class="col-lg-12">
		<div class="card">
			<div class="card-header">
				<h4 class="card-title">Products</h4>
			</div>
			<div class="card-body">
				<div class="table-responsive">
					<table class="table table-responsive-sm">
						<thead>
							<tr style="border: 0px;">
								<th>Id</th>
								<th style="text-align:left;">Name</th>
								<th style="text-align:left;">SubCategory</th>
								<th style="text-align:left;">Store</th>
								<th>Status</th>
								<th>Date</th>
								<th>Price</th>
							</tr>
						</thead>
						<tbody>
							@foreach (var product in Model)
							{
								<tr>
									<th>@product.Id</th>
									<td style="text-align:left;">@product.Name</td>
									<td style="text-align:left;">@product.SubcategoryRealEstate.Name</td>
									<td>
										<span class="badge badge-primary light">Sale</span>
									</td>
									<td>January 22</td>
									<td class="color-primary">$@product.Price</td>
									<td>
										<div class="dropdown">
											<button type="button" class="btn btn-warning light sharp" data-bs-toggle="dropdown">
												<svg width="20px" height="20px" viewbox="0 0 24 24" version="1.1"><g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"><rect x="0" y="0" width="24" height="24"></rect><circle fill="#000000" cx="5" cy="12" r="2"></circle><circle fill="#000000" cx="12" cy="12" r="2"></circle><circle fill="#000000" cx="19" cy="12" r="2"></circle></g></svg>
											</button>
											<div class="dropdown-menu">
												<a class="dropdown-item" asp-controller="Product" asp-action="Index" asp-route-productId="@product.Id">View</a>
												<a class="dropdown-item" asp-controller="ProductRealEstate" asp-action="UpdateProduct" asp-route-id="@product.Id">Edit</a>
												<a class="dropdown-item" asp-controller="ProductRealEstate" asp-action="DeleteProduct" asp-route-id="@product.Id">Delete</a>
											</div>
										</div>
									</td>
								</tr>
							}

						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>

</div>