@model Property.DTOs.Product.ProductRealEstate.GetProductRealEstateDTO

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="hero page-inner overlay"
     style="background-image: url('@Url.Content("~/Images/hero_bg_3.jpg")'); margin-top: 80px;">
    <div class="container">
        <div class="row justify-content-center align-items-center">
            <div class="col-lg-9 text-center mt-5">
                <h1 class="heading" data-aos="fade-up">
                    @Model.Name
                </h1>

                <nav aria-label="breadcrumb"
                     data-aos="fade-up"
                     data-aos-delay="200">
                    <ol class="breadcrumb text-center justify-content-center">
                        <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Home</a></li>
                        <li class="breadcrumb-item">
                            <a href="properties.html">Properties</a>
                        </li>
                        <li class="breadcrumb-item active text-white-50"
                            aria-current="page">
                            @Model.Address
                        </li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>

<div class="section">
    <div class="container">
        <div class="row justify-content-between">
            <div class="col-lg-7">
                <div class="img-property-slide-wrap">
                    <div class="img-property-slide">
                            if(Model.ProductImages.Count > 0)
                            {
                                @foreach(var image in Model.ProductImages)
                                {
                                    <img src="data:@image.ContentType;base64,@System.Convert.ToBase64String(image.ImageData)" class="img-fluid" />
                                }
                            }
                            else
                            {
                                <img src="~/images/img_1.jpg" alt="Image" class="img-fluid" />
                            }
                        }
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="property-item mb-3"> 
                    <div class="property-content">
                        <div class="row">
                            <div class="col-6">
                                <div class="price mb-2"><span>$@Model.Price</span></div>
                            </div>
                            <div class="col-6" style="text-align: right;">
                                @{
                                    @if (Model.Rent != null && Model.Rent.RentRealEstatePerDay != null)
                                    {
                                        <span>/ Day</span>
                                    }
                                    else if (Model.Rent != null && Model.Rent.RentRealEstatePerMounth != null)
                                    {
                                        <span>/ Month</span>
                                    }
                                    else if (Model.Sell != null)
                                    {
                                        <span>Sale</span>
                                    }
                                }
                            </div>
                        </div>
                    </div>
                </div>

                <h2 class="heading text-primary">@Model.City.Name, @Model.Country.Name</h2>
                <p class="meta">@Model.Address</p>
                <p class="meta">Published: @Model.PublicationDate.Day.@Model.PublicationDate.Month.@Model.PublicationDate.Year</p>
                <p class="text-black-50">
                    @Model.Description
                </p>
                <p class="text-black-50">
                    Perferendis eligendi reprehenderit, assumenda molestias nisi eius
                    iste reiciendis porro tenetur in, repudiandae amet libero.
                    Doloremque, reprehenderit cupiditate error laudantium qui, esse
                    quam debitis, eum cumque perferendis, illum harum expedita.
                </p>

                <div>
                    @if(Model.Rent != null && Model.Rent.RentRealEstatePerDay != null)
                    {
                        <a asp-controller="Reservation" asp-action="Index" asp-route-id="@Model.Id"
                        class="btn btn-primary py-2 px-3"><i class="icon-calendar-check-o"></i> Booking</a>
                    }
                    else
                    {
                        
                        <a asp-controller="" asp-action=""
                        class="btn btn-primary py-2 px-3"><i class="icon-perm_phone_msg"></i> Get phone number</a>
                    }
                </div>

                <div class="d-block agent-box p-5">
                    <div class="img mb-4">
                        <img src="~/images/person_2-min.jpg"
                             alt="Image"
                             class="img-fluid" />
                    </div>
                    <div class="text">
                        <h3 class="mb-0">@Model.Agent.Name</h3>
                        <div class="meta mb-3">@Model.Agent.Profession</div>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit.
                            Ratione laborum quo quos omnis sed magnam id ducimus saepe
                        </p>
                        <ul class="list-unstyled social dark-hover d-flex">
                            <li class="me-1">
                                <a href="#"><span class="icon-instagram"></span></a>
                            </li>
                            <li class="me-1">
                                <a href="#"><span class="icon-twitter"></span></a>
                            </li>
                            <li class="me-1">
                                <a href="#"><span class="icon-facebook"></span></a>
                            </li>
                            <li class="me-1">
                                <a href="#"><span class="icon-linkedin"></span></a>
                            </li>
                        </ul>
                    </div>

                    <div class="property-item mb-3" style="margin-top: 110px;">
                        <div class="property-content">
                            <div class="price mb-2"><span>+375 257 256 675</span></div>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</div>