@model Property.DTOs.Actions.UpdateProductRealEstate_action

@{
	Layout = "~/Views/Shared/_Layout3.cshtml";
}

<div class="row page-titles" style="margin-bottom: 5px;">
	<ol class="breadcrumb">
		<li class="breadcrumb-item active"><a href="javascript:void(0)">Real Estate</a></li>
		<li class="breadcrumb-item"><a href="javascript:void(0)">Add</a></li>
	</ol>
</div>
<!-- row -->

<div class="container">
	<form method="post" asp-controller="ProductRealEstate" asp-action="SaveUpdateProduct">

		<div class="form-group" style="margin-bottom: 3px;">
			<label for="productCategory">Category</label>
			<select id="ProductSubCategoryId" name="ProductSubCategoryId" class="form-control" required>
				<option value="@Model.Product.SubcategoryRealEstate.Id">@Model.Product.SubcategoryRealEstate.Name</option>
				@foreach (var sc in Model.Subcategories)
				{
					<option value="@sc.Id">@sc.Name</option>
				}
			</select>
		</div>

		<div class="form-group" style="margin-bottom: 3px;">
			<label for="name">Name</label>
			<input type="text" class="form-control" id="name" name="name" value="@Model.Product.Name" placeholder="Enter name">
		</div>
		<div class="form-group" style="margin-bottom: 3px;">
			<label for="Description">Description:</label>
			<textarea id="Description" name="Description" class="form-control" style="min-height: 200px;" required></textarea>

			<script>
				// Get a reference to the textarea element
				var textarea = document.getElementById('Description');

				// Set the value of the textarea using your model's value
				var modelValue = "@Model.Product.Description";
				textarea.value = modelValue;
			</script>
		</div>
		<div class="form-group" style="margin-bottom: 3px;">
			<label for="price">Price</label>
			<input type="number" class="form-control" id="price" name="price" value="@Model.Product.Price" placeholder="Enter price">
		</div>

		<div class="form-group" style="margin-bottom: 3px;">
			<label for="TransactionTypeId">Transaction Type:</label>
			<select id="TransactionTypeId" name="TransactionTypeId" class="form-control" required>
				<option value="@Model.Product.TransactionType.Id">@Model.Product.TransactionType.Name</option>
				@foreach (var transactionType in Model.TransactionTypes)
				{
					<option value="@transactionType.Id">@transactionType.Name</option>
				}
			</select>
		</div>

		<div class="form-group" style="margin-bottom: 3px;">
			<label for="room">Room</label>
			<input type="number" class="form-control" id="room" name="room" value="@Model.Product.Room" placeholder="Enter number of rooms">
		</div>
		<div class="form-group" style="margin-bottom: 3px;">
			<label for="address">Address</label>
			<input type="text" class="form-control" id="address" name="address" value="@Model.Product.Address" placeholder="Enter address">
		</div>
		<div class="form-group" style="margin-bottom: 3px;">
			<label for="yearOfConstruction">Year of Construction (Current date: @Model.Product.YearOfConstruction.ToShortDateString())</label>
			<input type="date" class="form-control" id="yearOfConstruction" name="yearOfConstruction">
		</div>

		<div class="form-group" style="margin-bottom: 3px;">
			<label for="CountryId">Country</label>
			<select id="CountryId" name="CountryId" class="form-control" required>
				<option value="@Model.Product.Country.Id">@Model.Product.Country.Name</option>
				@foreach (var country in Model.Countries)
				{
					<option value="@country.Id">@country.Name</option>
				}
			</select>
		</div>

		<div class="form-group" style="margin-bottom: 3px;">
			<label for="CityId">City</label>
			<select id="CityId" name="CityId" class="form-control" required>
				<option value="@Model.Product.City.Id">@Model.Product.City.Name</option>
				@foreach (var city in Model.Cities)
				{
					<option value="@city.Id">@city.Name</option>
				}
			</select>
		</div>

		<br />
		<input type="submit" value="Update" class="btn btn-primary">
	</form>

</div>

<br />
<hr />

<!--**************************
				IMAGE SECTION START
			**************************-->
<div class="container">
	<br />

	<h1>Image Gallery Form</h1>
	<form>
		<div class="form-group">
			<label for="gallery">Select Images:</label>
			<div class="gallery" style="display: flex;
			  flex-wrap: wrap;
			  justify-content: center;">
				@foreach (var image in Model.Product.ProductImages)
				{
					<div class="gallery-item" style="margin: 10px;
						max-width: 200px;">
						<input type="checkbox" name="images[]" value="image1.jpg" required>
						<img src="data:@image.ContentType;base64,@System.Convert.ToBase64String(image.ImageData)" class="img-fluid" alt="Image 1">
					</div>
				}
				<!-- Add more images here -->
			</div>
		</div>

		<div style="text-align: right; margin: 5px;">
			<button type="submit" class="btn btn-danger">Delete</button>
		</div>
	</form>
</div>

<hr />

<div class="container">
	<br />
	<form method="post" asp-controller="ProductImageRealEstate" asp-action="AddProductImage" enctype="multipart/form-data">
		<input type="hidden" id="productId" name="productId" value="@Model.Product.Id" />
		<div class="form-group">
			<label for="productImages">Images:</label>
			<input type="file" name="files" multiple class="form-control-file" required>
		</div>
		<br />
		<input type="submit" value="Add image" class="btn btn-primary">
	</form>
	<br />
</div>

	

	
<!--**************************
	IMAGE SECTION END
**************************-->
